.DS_Store
data/cnews
data/thucnews
__pycache__
cnn_keras.py
.idea
*.pyc
checkpoints
/tensorboard
/data/word_embedding/all.seged.txt
/data/word_embedding/embeddings.bin
/data/word_embedding/vocab.txt

